@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 94.1%;
    --foreground: 262 52% 15%;
    --card: 0 0% 100%;
    --card-foreground: 262 52% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 262 52% 15%;
    --primary: 262 52% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 263 44% 87%;
    --secondary-foreground: 262 52% 25%;
    --muted: 263 44% 92%;
    --muted-foreground: 262 52% 40%;
    --accent: 263 44% 77%;
    --accent-foreground: 262 52% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 263 44% 85%;
    --input: 263 44% 90%;
    --ring: 262 52% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 262 15% 10%;
    --foreground: 0 0% 98%;
    --card: 262 15% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 262 15% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 262 52% 60%;
    --primary-foreground: 0 0% 98%;
    --secondary: 263 20% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 263 20% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 263 44% 47%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 263 20% 25%;
    --input: 263 20% 22%;
    --ring: 262 52% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-muted text-foreground;
  }
}
